header{
    background: linear-gradient(to right,#000, 70%, #252424);
}
header ul{
    list-style: none;
    display: inline-block;
}
header ul li{
    text-decoration: none;
    color: #fff;
    display: inline;
    padding: 0 20px;
}
header img{
    width: 140px;
    border-bottom: 5vh;
}
.banner img{
    width: 100%;
}
.main-container{
    margin-top: 5vh;
}
.alert{
    border-radius: 0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    padding: 18px;

}
.alert.alert-success{
    border: 2px solid #128512
}
.alert.alert-warning{
    border: 2px solid #872517
}

/*HOME*/
.btn-primary{
    background-color: #000;
    color: aqua;
}


/*footer*/
footer{
    background: linear-gradient(to right,#000, 70%, #252424);
    margin: 0;
    padding-bottom: 0;
}
footer h6{
    padding: 20px;
    text-align: center;
    color: #fff;
}
/*RESPONSIVIDADE*/
@media screen and (max-width: 750px){
    .table .update-form  {
        display: NONE;
    }
    .table i {
        display: none;
    }

}